<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Пиломатериалы</title>
    <meta name="description"
          content="Грузчики, разнорабочие, аренда персонала Екатеринбург, Свердловская область. Переезды, такелажные работы, погрузка и разгрузка грузов.">
    <meta name="keywords"
          content="Грузчики, Грузчики Екатеринбург, аренда персонала, разнорабочие Екатеринбург, переезды, разгрузка вагонов, аутсорсинг рабочего персонала">

    <!-- Bootstrap -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
<header class="navbar-fixed-top hidden-xs">
    <div class="container">
        <div class="col-md-3 header-logo  visible-lg visible-md">
            ПИЛОМАТЕРИАЛЫ.РФ
        </div>
        <div class="col-md-6">
            <nav class="navbar" role="navigation">
                <div class="navbar-header hidden-xs hidden-sm hidden-md hidden-lg">
                    <button type="button" class="navbar-toggle" data-toggle="collapse"
                            data-target="#bs-example-navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar" style="color:#000;"></span><!--Полоски на кноке-->
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav-menu" id="nav">
                        <li class="current">
                            <a href="#section-1">
                                Главная
                            </a>
                        </li>
                        <li>
                            <a href="#section-2">
                                Цены
                            </a>
                        </li>
                        <li class="hidden-md">
                            <a href="#section-3">
                                Отзывы
                            </a>
                        </li>
                        <li>
                            <a href="#section-4">
                                Контакты
                            </a>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
        <div class="col-md-3 header-phone  visible-lg visible-md">
            8 (343) 383-36-47
        </div>
    </div>
</header>
<section class="title-section" id="section-1">
    <div class="container">
        <div class="col-md-2"></div>
        <div class="col-md-8 title-section-order">
            <h1>
                Производство и продажа пиломатериалов.
            </h1>

            <h2>
                Пиломатериалы в Екатеринбурге по самым низким ценам в регионе!
            </h2>

            <p>
                Закажите звонок и получите подробную консультацию наших специалистов.
            </p>

            <div class="title-section-order-form">
                <form class="form-horizontal" role="form">
                    <div class="row">
                        <div class="col-xs-2"></div>
                        <div class="form-group col-xs-8">
                            <label for="inputEmail3" class="control-label col-xs-6">Контактный телефон:</label>

                            <div class="col-xs-6">
                                <input type="email" class="form-control" id="inputEmail3"
                                       placeholder="8 (     ) ___ - ____">
                            </div>
                        </div>
                        <div class="col-xs-2"></div>
                    </div>
                    <div class="title-section-order-form-button">
                        <button class="title-section-order-callback">
                            Заказать звонок
                        </button>
                    </div>
                </form>
            </div>
            <p class="privacy-policy">
                *Мы соблюдаем политику конфидециальности
            </p>
        </div>
        <div class="col-md-2"></div>
    </div>
</section>
<section class="products" id="section-2">
    <div class="container">
        <h2>В нашей товарной линейке вы найдете оптимальное предложение.</h2>

        <div class="col-md-4 product-item">
            <div class="product-item-image">
                <img src="images/page1_pic1.jpg">
            </div>
            <h3>
                Доска обрезная
            </h3>

            <p class="product-item-description">
                Описание продукции будет описано здесь
                Описание продукции будет описано здесь
                Описание продукции будет описано здесь
                Описание продукции будет описано здесь
            </p>
            <button class="product-item-order" data-toggle="modal" data-target="#myModal">
                Заказать
                <span class="glyphicon glyphicon-arrow-right"></span>
            </button>
        </div>
        <div class="col-md-4 product-item">
            <div class="product-item-image">
                <img src="images/page1_pic2.jpg">
            </div>

            <h3>
                Доска обрезная
            </h3>

            <p class="product-item-description">
                Описание продукции будет описано здесь
                Описание продукции будет описано здесь
                Описание продукции будет описано здесь
                Описание продукции будет описано здесь
            </p>
            <button class="product-item-order" data-toggle="modal" data-target="#myModal">
                Заказать
                <span class="glyphicon glyphicon-arrow-right"></span>
            </button>
        </div>
        <div class="col-md-4 product-item">
            <div class="product-item-image">
                <img src="images/page1_pic3.jpg">
            </div>

            <h3>
                Доска обрезная
            </h3>

            <p class="product-item-description">
                Описание продукции будет описано здесь
                Описание продукции будет описано здесь
                Описание продукции будет описано здесь
                Описание продукции будет описано здесь
            </p>
            <button class="product-item-order" data-toggle="modal" data-target="#myModal">
                Заказать
                <span class="glyphicon glyphicon-arrow-right"></span>
            </button>
        </div>
        <hr>
    </div>
</section>
<section class="our-company">
    <div class="container">
        <h2>
            Компания ООО "Эком" занимается производством, продажей и доставкой лесоматериалов без посредников.
        </h2>

        <div class="col-md-3">
            <h3>
                Гарантия качества
            </h3>
            <div class="our-company-image">
                <img src="images/quality.jpg">
            </div>
            <p class="our-company-item-description">
                Мы предлагаем только высококачественные пиломатериалы, изготовленные на современном оборудовании и соответствующие всем стандартам качества.
            </p>
        </div>
        <div class="col-md-3">
            <h3>
                Низкие цены
            </h3>
            <div class="our-company-image">
                <img src="images/sale.jpg">
            </div>
            <p class="our-company-item-description">
                Грамотная ценовая политика и работа без посредников, позволяет нам поддерживать самые низкие цены в Екатеринбурге и Свердловской области.
            </p>
        </div>
        <div class="col-md-3">
            <h3>
                Оперативная доставка
            </h3>
            <div class="our-company-image">
                <img src="images/delivery.jpg">
            </div>
            <p class="our-company-item-description">
                Мы осуществляем оперативную доставку в любое удобное для Вас время и необходимое вам место. Весь ассортимент продукции всегда в наличии на складе.
            </p>
        </div>
        <div class="col-md-3">
            <h3>
                Удобные способы оплаты
            </h3>
            <div class="our-company-image">
                <img src="images/payment.jpg">
            </div>
            <p class="our-company-item-description">
                Мы продаем строительные пиломатериалы  оптом и в розницу за безналичный и наличный расчет, так же мы принимаем оплату банковской картой.
            </p>
        </div>
        <hr>
    </div>
</section>
<section class="user-reviews" id="section-3">
    <div class="container">
        <div class="user-reviews-title-bg">
            <h2>
                ОТЗЫВЫ НАШИХ КЛИЕНТОВ
            </h2>
        </div>
        <div class="col-md-3">
            <div class="user-reviews-item">
                <p class="user-reviews-item-name">
                    Василий Петров
                </p>

                <p class="user-reviews-item-body">
                    Оперативно доставили, помогли разобраться с ассортиментом, большое спасибо.
                </p>

                <div class="user-reviews-image">
                    <figure>
                        <img src="images/page1_pic9.jpg">
                    </figure>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="user-reviews-item">
                <p class="user-reviews-item-name">
                    Василий Петров
                </p>

                <p class="user-reviews-item-body">
                    Оперативно доставили, помогли разобраться с ассортиментом, большое спасибо.
                </p>

                <div class="user-reviews-image">
                    <figure>
                        <img src="images/page1_pic9.jpg">
                    </figure>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="user-reviews-item">
                <p class="user-reviews-item-name">
                    Василий Петров
                </p>

                <p class="user-reviews-item-body">
                    Оперативно доставили, помогли разобраться с ассортиментом, большое спасибо.
                </p>

                <div class="user-reviews-image">
                    <figure>
                        <img src="images/page1_pic9.jpg">
                    </figure>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="user-reviews-item">
                <p class="user-reviews-item-name">
                    Василий Петров
                </p>

                <p class="user-reviews-item-body">
                    Оперативно доставили, помогли разобраться с ассортиментом, большое спасибо.
                </p>

                <div class="user-reviews-image">
                    <figure>
                        <img src="images/page1_pic9.jpg">
                    </figure>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="contacts" id="section-4">
    <div class="container">
        <h2>
            Контакты
        </h2>
        <div class="col-md-6 contacts-feedback">
			<h3>Форма обратной связи</h3>
            <form role="form">
                <div class="form-group">
                    <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Имя">
                </div>
                <div class="form-group">
                    <input type="phone" class="form-control" id="exampleInputPassword1" placeholder="Контактный телефон" ng-model="myPhone">
                </div>
                <div class="form-group">
                    <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Email" ng-model="myEmail">
                </div>
                <button class="product-item-order" type="submit">
                    Отправить
                </button>
            </form>
        </div>
        <div class="col-md-6 contacts-info">
            <h3>
                Компания ООО "Эком" занимается производством и доставкой пиломатериалов по Екатеринбургу и Свердловской области.
            </h3>
            <address>
                Адрес: г. Екатеринбург, ул. Уральская, 3, 4 офисный подъезд, 2 этаж.
                <br>
                8 (343) 383-36-47
            </address>
            <a href="mailto:info@lumber.ru">info@lumber.ru</a>
        </div>
    </div>
</section>
<section class="maps">
    <script type="text/javascript" charset="utf-8" src="//api-maps.yandex.ru/services/constructor/1.0/js/?sid=FWbp4PgR5Tv2oPRJcvHqwOdaQ1WVw0rZ&height=250"></script>
</section>
<footer>
    <div class="container">
        <div class="col-md-6">
            <p>
                Copyright © lumber.ru 2014  Все права защищены
            </p>
        </div>
        <div class="col-md-6 footer-dev-info">
            <p>
                Сайт разработан компанией <a href="mailto:ivan.chumak@bk.ru">futuredigital</a>
            </p>
        </div>
    </div>
</footer>
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <form role="form" id="modal-order-form" action="javascript:void(null);">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="myModalLabel">Оформление заказа</h4>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <input type="text" class="form-control" name="name" id="modal-order-form-name" placeholder="Имя">
                        <span class="glyphicon glyphicon-remove form-control-feedback"></span>
                        <span class="glyphicon glyphicon-ok form-control-feedback"></span>
                    </div>
                    <div class="form-group">
                        <input type="tel" class="form-control" name="phone" id="modal-order-form-phone" placeholder="Телефон">
                        <span class="glyphicon glyphicon-remove form-control-feedback"></span>
                        <span class="glyphicon glyphicon-ok form-control-feedback"></span>
                    </div>
                    <div class="form-group">
                        <input type="email" class="form-control" name="email" id="modal-order-form-email" placeholder="Email">
                        <span class="glyphicon glyphicon-remove form-control-feedback"></span>
                        <span class="glyphicon glyphicon-ok form-control-feedback"></span>
                    </div>
                    <div class="modal-form-result">

                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-order">Отправить</button>
                </div>
            </form>
        </div>
    </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="/bower_components/angular/angular.js"></script>
<script src="js/jquery.nav.js"></script>
<script>
    $(document).ready(function() {
        $('#nav').onePageNav();
    });
</script>
</body>
</html>